:root {
    --ct-primary: #0d5e68;
    --ct-light: #15a0b0;
    --ct-dark: #02525c;
    --ct-light-grey: #eff3f6;
    --ct-grey: #ced4da;
    --contact-img-gap: 10px;
}

/* body {
    background-color: var(--ct-light-grey);
} */

.chathiago * {
    box-sizing: border-box;
}

.chathiago {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    height: calc(100vh - (var(--navbar-height) + 2rem));
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 20px 5px var(--ct-grey);
    margin: 1rem auto;
}

.chathiago .sidebar {
    min-width: 300px;
    max-width: 300px;
    flex-grow: 0.3;
    height: 100%;
    overflow-y: auto;
    border-right: solid 1px var(--ct-light-grey);
}

.chathiago .sidebar .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--contact-img-gap);
    height: 80px;
    padding: 10px;
    transition: all .15s;
}

.chathiago .sidebar .contact:first-child{
    border-top-left-radius: 16px;
}

.chathiago .sidebar .contact:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--ct-dark);
}

.chathiago .sidebar .contact.active {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-green);
}

.chathiago .sidebar .contact img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.chathiago .conversation-box {
    --ct-header-height: 80px;
    --ct-input-box-height: 60px;
    flex-grow: 1;
    min-width: 400px;
    height: 100%;
    background-color: var(--ct-light-grey);
    border-radius: 0 16px 16px 0;
}

.chathiago .conversation-box .conversation-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--contact-img-gap);
    height: 80px;
    padding: 10px;
    background-color: var(--ct-dark);
    color: white;
    border-radius: 0 16px 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.chathiago .conversation-box .conversation-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chathiago .conversation-box .messages {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    height: calc(100% - (var(--ct-header-height) + var(--ct-input-box-height)));
    overflow-y: auto;
    gap: 4px 0; 
}

/* .chathiago .conversation-box .messages > .sent:first-child,
.chathiago .conversation-box .messages > .received:first-child,
.chathiago .conversation-box .messages > .lds-dual-ring:first-child {
    margin-top: auto !important;
} */

.chathiago .conversation-box .messages .sent,
.chathiago .conversation-box .messages .received {
    max-width: 60%;
    padding: 10px 16px;
    margin-bottom: 2px;
    border-radius: 16px;
    overflow-wrap: break-word;
}

.chathiago .conversation-box .messages .sent {
    align-self: flex-end;
    background-color: var(--primary-green);
    color: white;
    border-bottom-right-radius: 2px;
}

.chathiago .conversation-box .messages .received {
    align-self: flex-start;
    background-color: white;
    color: black;
    border-bottom-left-radius: 2px;
}

.chathiago .conversation-box .messages div.sent + div.received,
.chathiago .conversation-box .messages div.received + div.sent {
    margin-top: 8px !important;
}

.chathiago .conversation-box .messages .empty-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.chathiago .conversation-box .messages .empty-chat img {
    width: 330px;
}

/* 
.msg::before {
  content: attr(data-time);
  font-size: 0.8rem;
  position: absolute;
  bottom: 100%;
  color: #888;
  white-space: nowrap;
  display: none;
}

.msg.sent::before {
  right: 15px;
}

.msg.rcvd::before {
  left: 15px;
}
*/

.chathiago .conversation-box .texting-box form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 60px;
    border-radius: 0 0 8px 0;
    padding: 10px 10px;
    background: var(--ct-grey);
}

.chathiago .conversation-box .texting-box input {
    width: calc(100% - 100px);
    height: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 0 16px;
    border:none;
    outline: none;
}

.chathiago .conversation-box .texting-box button {
    background-color: white;
	color: var(--primary-green);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* LOADING RING */
.lds-dual-ring {
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}
.lds-dual-ring + .sent,
.lds-dual-ring + .received {
    margin-top: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary-green);
    border-color: var(--primary-green) transparent var(--primary-green) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  