/* Montserrat Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/* VARIABLES */
:root {
    --background: #F8F8F8;
    --primary-green: #026773;
    --light-green: #15A0B0;
    --dark-green: #074A59;
    --text-color: #000;
    --grey: #202020;
    --danger-color: #cf1c0e;
    --blue-vertical-gradient: linear-gradient(180deg, #15A0B0, #074A59);
    --navbar-height: 72px;
    --font-family: 'Montserrat', sans-serif;
} /* VARIABLES */

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialized;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;

    min-height: 100%;
    display: flex;
    flex-direction: column;
} 

main h1, h2, h5{
    font-weight: 700;
}

h1 {
    font-size: 78px;
    margin: 0;
}

main h2 {
    font-size: 48px;
}

main h3 {
    font-size: 32px;
    font-weight: 600;
}

a {
    cursor: pointer;
    color: var(--light-green);
}

a:hover{
    color: var(--primary-green);
}

p {
    font-size: 24px;
    margin: 0;
}

h6 {
    font-size: 24px;
}

.text-muted {
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 56px;
    }

    main h2 {
        font-size: 32px;
    }

    .text-gradient {
        margin-top: -8px;
    }

    p {
        font-size: 20px;
    }

    .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .filtros-servico {
        justify-content: center;
        gap: 20px;
    }

    .filtros-servico .item-pesquisa {
        padding: 0;
        margin: 0;
    }

    #fContent {
        flex-direction: column-reverse;
    }
}

/* Header */

header {
    font-weight: 700;
    height: var(--navbar-height);
}

header .navbar {
    height: var(--navbar-height);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

header .btn {
    border-radius: 12px;
}

header .dropdown-item:active {
    background-color: var(--primary-green);
}

@media screen and (max-width: 768px) {

    .offcanvas-header {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    }

    .offcanvas-body .navbar-nav .nav-item{
        display: flex;
        justify-content: center;
    }

    .offcanvas-body .navbar-nav {
        padding-bottom: 20px;
        border-bottom: solid 1px rgba(0, 0, 0, .2);
    }

    .offcanvas-body .header-buttons {
        flex-direction: column;
        justify-content: center !important;
        padding-top: 20px;
        gap: 10px;
    }

    .offcanvas-body .header-buttons a {
        font-size: 20px !important;
    }

}

/* Filtros de Serviço */


.item-pesquisa {
    padding-right: 20px;
    margin-bottom: 1rem;
}

.card-avaliacao .text-muted{
    font-size: 14px;
}

.card-avaliacao p {
    font-size: 16px;
}

.card-avaliacao {
    border: solid 1px #000;
}

.avaliacao-usuario {
    gap: 10px;
}

/* Gradient pro texto da home*/
main h1.text-gradient {
    background: linear-gradient(180deg, #15A0B0 0%, #074A59 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* Botões*/

.btn {
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .15s ease-in-out, transform .15s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-login {
    position: relative;
    border: none;
    font-weight: 700;
}
.btn-login:hover {
    color: var(--primary-green);
    border: none;
}

.btn-login::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--primary-green);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
.btn-login:hover::after,
.btn-login:focus::after{
  transform: scale(1);
}

.btn-outline-green {
    font-weight: 700;
    color: var(--primary-green);
    border: 1.8px solid var(--primary-green);
    background-color: inherit;
}

.btn-outline-green:hover {
    color: #fff;
    border-color: var(--primary-green);
    background: var(--primary-green);
    transform: scale(1.1);
}

.btn-green {
    outline: 0;
    color: #fff;
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
}

.btn-green:hover {
    color: #fff;
    background-color: var(--dark-green);
    border-color: var(--primary-green);
}


.login-banner {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/banner-gradient.svg) center;
    background-size: cover;
}

.btn {
    font-weight: 600;
}

/* Principais Categorias */


.badge-avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    min-width: 60px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

ion-icon {
    font-size: 16px;
    margin-right: 0.5rem;
}

/* hover de cards no geral*/
.card {
    background-color: var(--background) !important;
}

.card-categoria {
    border: none;
    transition: all .25s ease-in-out;
    position: relative;
}

.card-categoria .btn-outline-green {
    position: relative;
    color: var(--grey);
    border: 1.8px solid var(--grey);
    z-index: 2;
}

.card-categoria:hover {
    transform: scale(1.05);
}

.card-categoria:hover .btn-outline-green {
    color: var(--primary-green);
    border: 1.8px solid var(--primary-green);
}

.card-categoria .btn-outline-green:hover {
    color: #fff;
}

/* Card de Categoria */
.clickable-card {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 1;
}

.card-categoria {
    margin: 0 10px;
}

.card-categoria .card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Card de Avaliação */

.avaliacao-otima {
    background-color: #fef3cdc8;
    color: #F4BF00;
}

.avaliacao-media {
    background-color: #cdfefb4d;
    color: #026773;
}

/* Filtros de pesquisa */
#searchBox {
    border: 1px solid var(--grey);
}

#cardsPesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filters-group {
    display: none;
    flex-direction: row;
    align-items: center;
    padding: 15px 5px;
    background-color: white;
    border: 1px solid var(--grey);
    border-top: none;
}

.active #searchBox {
    border-radius: .5rem 0 0 0
}
.active #searchButton {
    border-radius: 0 .5rem 0 0
}
.active .filters-group {
    display: flex;
    height: calc(1.5em + 1rem + 2px);
    border-radius: 0 0 .5rem .5rem;
    transform-origin: top left;
    animation: fade-in .3s linear; 
}

.show-result {
    display: flex !important;
    transform-origin: center;
    animation: collapse .3s ease-in-out !important;
}

@keyframes collapse {
    from {
        transform: scaleY(0);
        opacity: 0;
    } to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.search-filter {
    display: none;
}
.search-filter + label {
    display: inline-block;
    user-select: none;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 15px;
    margin: 0px 5px;
    color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 15px;
    background-color: white;
    transition: all .15s ease-in-out
}
.search-filter + label:hover {
    cursor: pointer;
}
.search-filter:checked + label {
    color: white;
    border: 1px solid var(--primary-green);
    background-color: var(--primary-green);
}

#searchResult {
    display: none;
    margin-top: 10px;
    padding: 15px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.btn-continue-search {
    background-color: var(#ddd);
    margin: 8px;
    border: none;
}
.btn-continue-search i {
    font-size: 30px;
    color: var(--grey);
    transform: none ;
}
.btn-continue-search:hover i {
    animation-name: up-down, up-down;
    animation-duration: 300ms, 250ms;
    animation-delay: 0ms, 300ms;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-direction: normal, reverse;
}
@keyframes up-down {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(15px);
    }
}

/* Loading spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Card de Pesquisa */
.card-pesquisa {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 10px 0;
    z-index: 2;
    opacity: 0;
    animation: drop-in .4s ease-in-out forwards;
}

.card-pesquisa .card-body {
    padding: 13px;
}


.card-pesquisa .card-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-pesquisa .card-title h5 {
    font-size: 18px;
    display: inline-block;
}

.card-pesquisa img {
    box-sizing: content-box;
    align-self: center;
    padding: 12px 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.card-pesquisa .badge-avaliacao {
    min-width: 70px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    position: static;
    margin-left: 5px;
}

@keyframes drop-in {
    from {
        transform: translateY(-50px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Carousel */
.carousel-inner {
    padding: 10px 0;
}

.carousel-control-prev,
.carousel-control-next {
    box-sizing: content-box;
    width: 2rem;
    height: 2rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: var(--grey);
    border-radius: 50%;
}
.carousel-control-prev {
    left: 4rem;
}
.carousel-control-next {
    right: 4rem;
}

/* Carousel em telas maiores */
@media screen and ( min-width: 768px ) {
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/4);
    }
} 


/* Footer */

footer {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

footer p {
    font-size: 12px;
}

.links {
    text-align: center;
}

footer i {
    font-size: 24px;
}

.socials i{
    color: white;
}

.socials{
    list-style: none;
    gap: 1rem;
}

@media screen and (max-width: 768px){

    .socials {
        display: flex !important;
        justify-content: space-around !important;
        width: 172px;
    }

    .footer-socials {
        display: flex;
        justify-content: center;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        height: 80%;
    }

    footer i {
        font-size: 30px;
    }
}

/* Cadastro */

.buttons > a, .buttons > button{
    font-size: 18px !important;
}


.cadastro-logo {
    position: absolute;
    top: 16px;
    left: 16px;
}

.form-cadastro {
    width: 80%;
    max-width: 420px;
}

.cadastro > .form-group {
    padding: 0;
}

.cadastro-side-image {
    overflow: hidden;
}

.cadastro-side-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1400px) {
    .cadastro-side-image {
        background-position: top;
    }
}

@media screen and (max-width: 768px) {
    .cadastro-side-image {
        z-index: -1;
        min-height: 100vh;
        position: absolute;
    }
    .form-cadastro {
        background: #fff;
        border-radius: 12px;
        padding: 50px;
    }
}

#settingsContent {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}


table .text-muted {
    font-size: 18px;
}

hr {
    size: 1px;
    color: solid rgba(0, 0, 0, 0.1)
}

.active-link {
    color: var(--primary-green) !important;
    transition: all 2s ease-in-out !important;
}

#side-bar {
    font-size: 20px;
}

/* Editar Perfil */

textarea {
    resize: none;
}

label {
    font-size: 20px;
    font-weight: 700;
}

.btn-link {
    text-decoration: none;
    color: #202020;
}

.btn-link:hover {
    color: var(--primary-green);
}

.btn-link:focus {
    color: var(--primary-green);
    box-shadow: none !important;
}

.btn-link:active {
    color: var(--primary-green);
}

.form-control:focus {
    transition: all .2s ease-in-out;
    box-shadow: none;
    border: 1px solid var(--light-green);
    outline-style: solid;
    outline-color: var(--light-green);
    outline-width: 1.5px;
}

/* FILE INPUT UPDATE FORM */
#inputImg {
    display: none;
}

#inputFileLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: brightness(100%);
    width: 148px;
    height: 148px;
    transition: all .1s ease-in-out;
    overflow: hidden;
}

#imgPerfil {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    object-fit: cover;
}

#headerImgPerfil {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


/* HOVER */

#inputFileLabel {
    cursor: pointer;
}

#inputFileLabel img {
    transition: all 0.25s linear;
}

#inputFileLabel:hover img {
    filter: brightness(35%);
}

.editar-hover {
    display: none;
}

#inputFileLabel:hover > .editar-hover {
    position: absolute;
    top: 10%;
    width: 148px;
    height: 148px;
    text-align: center;
    color: #fff;
    opacity: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inputFileLabel:hover .editar-hover {
    filter: brightness(100%);
    opacity: 100%;
}

#feedbackUsuario {
    display: none;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0 0;
    border-radius: 8px;
    /* max-height: 0;
    transition: max-height 4s ease-in-out; */
}

.inputErro {
    border-color: var(--danger-color);
}

.inputErro:focus {
    outline-style: solid;
    outline-color: var(--danger-color);
    outline-width: 1.5px;
}

.formMsgErro {
    color: var(--danger-color);
    display: none;
    font-size: 14px;
}

/* Cards dos Perfis */

#profileCard {
    font-size: 14px;
    transition: all .2s ease-in-out;
}

#profileCard:hover {
    transform: scale(1.05);
}

#profileCard > .card-img-top {
    height: 100px;
    object-fit: cover;
    border-top-right-radius: .375rem !important;
    border-top-left-radius: .375rem !important;
}

#profileCard .profile-pic img {
    border: solid 2px #fff;
}

#profileCard > .card-body  {
    margin-top: -50px;
}

#profileCard .vr {
    width: 1.5px;
}

#profileCard .badge-avaliacao {
    left: auto;
    right: 1rem;
    top: 142px;
}

/* Perfil Público */


#profile .card .header-card {
    width: 100%;
    height: 150px;
    background: var(--primary-green);

}

.profile-pic img {
    width: 160px;
    height: 160px;
    border: 3px solid #fff;
}

#profile .card .card-body{
    padding: 15px;
}

#profile .profile-pic {
    margin-top: -120px;
}

#profile .top-infos h3, p {
    margin: 0;
}

#infos i {
    font-size: 18px;
    margin-right: .25rem;
}

#fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#fotos .sm-photo img{
    height: 48px;
    width: 100%;
    border-radius: 4px;
}

#fotos .big-photo img{
    border-radius: 8px;
}

#sobre p, #avaliacao p, #anuncio p, #profileCard p {
    font-size: 16px;
}

/* Anúncio */

#anuncio {
    border: none !important;
}

#anuncio > .card-body > .card-text > .avaliacoes > i {
    font-size: 12px;
}

.grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 240px);
    border-radius: 1rem;
}

.big-photo {
    grid-row: 1/3;
}

.big-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sm-photo1 img, .sm-photo2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card Profissão */

#cardProfissao p {
    font-size: 14px;
}


#cardProfissao a .fa-trash-can {
    transition: all 3s ease-in-out;
}

#cardProfissao .fa-trash-can:before {
    transition: all .1s ease-in-out;
}

#cardProfissao a:hover .fa-trash-can:before {
    content: "\f00d";
}


@media screen and ( max-width: 768px ) {
    .caixa-pesquisa {
        width: 100%;
    }
    .imagem-trabalhador-home {
        display: none;
    }
}
