/* Montserrat Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* VARIABLES */
:root {
    --primary-green: #026773;
    --text-color: #000;
    --grey: #202020; 
    --blue-vertical-gradient: linear-gradient(180deg, #15A0B0, #074A59);
    --navbar-height: 72px;
    --font-family: 'Montserrat', sans-serif;
} /* VARIABLES */

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialized;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
} 

header {
    font-weight: 700;
    height: var(--navbar-height);
}

header .navbar {
    height: var(--navbar-height);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

header .btn {
    border-radius: 12px;
}


/* Coloquei o tamanho das fontes e negrito (não sei como economizar linha nesse caso mas ta aí)*/ 

main h1, h2 {
    font-weight: 700;
}

main h1 {
    font-size: 90px;
}

main h2 {
    font-size: 48px;
}

.card-avaliacao .text-muted{
    font-size: 14px;
}

.card-avaliacao {
    border: solid 1px #000;

}

.avaliacao-usuario {
    gap: 20px;
}

/* Gradient pro texto da home*/
main h1.text-gradient {
    background: linear-gradient(180deg, #15A0B0 0%, #074A59 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text-muted {
    font-size: 24px;
}

.btn-login {
    position: relative;
    transition: color .2s ease-in-out, transform .2s ease-in-out;
    border: none;
    font-weight: 700;
}
.btn-login:hover {
    color: var(--primary-green);
    border: none;
    transform: scale(1.1);
}

/* Animation */
.btn-login::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--primary-green);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
.btn-login:hover::after,
.btn-login:focus::after{
  transform: scale(1);
}

.btn-outline-green {
    font-weight: 700;
    color: var(--primary-green);
    border: 1.8px solid var(--text-color);
    background-color: inherit;
    transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .15s ease-in-out, transform .15s ease-in-out;
}
.btn-outline-green:hover {
    color: #fff;
    border-color: var(--primary-green);
    background: var(--primary-green);
    transform: scale(1.1);
}


.login-banner {
    margin-bottom: 100px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/banner-gradient.svg) center;
    background-size: cover;
}

/* Footer */

footer {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    font-size: 12px;
}

#content-area {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #fff;
}

.links {
    text-align: center;
}

i {
    font-size: 24px;
}

.socials i{
    color: white;
}

.socials{
    list-style: none;
    gap: 1rem;
}

/* Perfil */

#profile-content {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

table .text-muted {
    font-size: 18px;
}

hr {
    size: 1px;
    color: solid rgba(0, 0, 0, 0.1)
}

.active {
    color: var(--primary-green) !important;
}

#side-bar {
    font-size: 20px;
}

/* Editar Perfil */

textarea {
    resize: none;
}

@media screen and ( max-width: 768px ) {
    .caixa-pesquisa {
        width: 100%;
    }
    .imagem-trabalhador-home {
        display: none;
    }
}
