<div class="container mb-5 hidden">
    <div class="mb-4">
        <h2>Quem usa recomenda!</h2>
        <h6 class="text-muted">Aqui estão alguns relatos de quem usa nosso serviço</h6>
    </div>

    <div class="feedbacks row row-cols-1 row-cols-lg-3 justify-content-center g-3 g-lg-5" >
        <div class="col hidden">
          <div class="card card-avaliacao shadow">
            <div class="card-body">
              <div class="avaliacao-usuario d-flex align-items-center mb-3">
                <div class="feedback-img-profile">
                  <img src="images/feedbacks/breno.jpeg" id="breno">
                </div>
                <div class="d-flex flex-column align-items-left ">
                    <h7 class="mb-0">Breno</h7>
                    <small class="text-muted">Contratou um jardineiro para serviço</small>
                </div>
              </div>
              <p class="mb-3"><i>"O contrataí foi uma mão na roda quando eu precisei de um jardineiro para o meu quintal. O site é bem intuitivo e fácil de usar, consegui entrar em contato com um ótimo profissional em pouco tempo. Só possuo ótimas recomendações."</i></p>
            </div>
          </div>
        </div>
        
        <div class="col hidden">
          <div class="card card-avaliacao shadow">
            <div class="card-body">
              <div class="avaliacao-usuario d-flex align-items-center mb-3">
                <div class="feedback-img-profile">
                  <img src="images/feedbacks/ian.jpeg" id="ian">
                </div>
                <div class="d-flex flex-column align-items-left ">
                    <h7 class="mb-0">Ian Luiz</h7>
                    <small class="text-muted">Professor de matemática em nossa rede.</small>
                </div>
              </div>
              <p class="mb-3"><i>"O Contrataí me ajudou muito a entrar no mercado de trabalho. Havia acabado de sair da faculdade e estava com dificuldade de conseguir emprego formal. Com o Contrataí, pude oferecer aulas particulares e hoje vivo disso."</i></p>
            </div>
          </div>
        </div>
        <div class="col hidden">
          <div class="card card-avaliacao shadow">
            <div class="card-body">
              <div class="avaliacao-usuario d-flex align-items-center mb-3">
                <div class="feedback-img-profile">
                  <img src="images/feedbacks/raphael.jpeg" id="raphael">
                </div>
                <div class="d-flex flex-column align-items-left ">
                    <h7 class="mb-0">Raphael</h7>
                    <small class="text-muted">Contratou um eletricista para serviço</small>
                </div>
              </div>
              <p class="mb-3"><i>"Estava precisando de um serviço elétrico, e com o Contrataí, consegui em tempo recorde e com segurança um profissional da área que resolveu meu problema. Depois desse ocorrido, continuo usando o Contrataí e indicando para conhecidos, amigos e família."</i></p>
            </div>
          </div>
        </div>
        
        
    </div>
</div>