<div class="container mb-5">
    <div class="mb-4">
        <h2>Quem usa recomenda!</h2>
        <h6 class="text-muted">Aqui estão alguns relatos de quem usa nosso serviço</h6>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
          <div class="card card-avaliacao shadow-sm">
            <div class="card-body">
              <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit."</p>
              <div class="avaliacao-usuario d-flex align-items-center">
                <img src="images/temp/person-rating.png">
                <div class="d-flex flex-column align-items-left ">
                    <h6 class="mb-0">Fulano</h6>
                    <small class="text-muted">Contratou um pintor para serviço</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-4">
          <div class="card card-avaliacao shadow-sm">
            <div class="card-body">
              <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit."</p>
              <div class="avaliacao-usuario d-flex align-items-center">
                <img src="images/temp/person-rating.png">
                <div class="d-flex flex-column align-items-left ">
                    <h6 class="mb-0">Fulano</h6>
                    <small class="text-muted">Contratou um pintor para serviço</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card card-avaliacao shadow-sm">
            <div class="card-body">
              <p>"Lorem ipsum dolor sit, amet consectetur adipisicing elit."</p>
              <div class="avaliacao-usuario d-flex align-items-center">
                <img src="images/temp/person-rating.png">
                <div class="d-flex flex-column align-items-left ">
                    <h6 class="mb-0">Fulano</h6>
                    <small class="text-muted">Contratou um pintor para serviço</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
    </div>
</div>