<!-- Coluna com o card do anúncio -->
<div class="col">
    <div class="card" id="anuncio">
        <img src="images\temp\ilustrador.jpg" class="rounded" alt="">
        <div class="card-body py-2 px-0">

            <h5 class="card-title m-0">Faço Ilustrações</h5>

            <div class="card-text d-flex align-items-center pe-1">
                <i class="fa-solid fa-star fw pe-1"></i>
                <p>5.0 (32 avaliações) </p>

            </div>

            <a href="anuncio.php" class="stretched-link"></a>

        </div>
    </div>
</div>  