<div class="col">
    <div class="card text-center shadow-sm rounded-4" id="profile-card">
        <div class="card-header">
            <div class="profile-pic"><img src="images\temp\default-pic.png" class="rounded-circle" style="width: 58px; height:58px" alt=""></div>
        </div>
        <div class="card-body">
            <div class="text mb-3">
                <h3>Fulano</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, tempore.</p>
            </div>
            <a class="btn btn-outline-green" href="perfil-publico.php">Veja mais</a>
        </div>
    </div>
</div>