<div class="col">
    <div class="card shadow-sm" id="profileCard">
        <img src="images\temp\placeholder-card.jpg" class="card-img-top rounded-top" alt="">
        <div class="card-body">
            <div class="profile-pic"><img src="images\temp\default-pic.png" class="rounded-circle" style="width: 58px; height:58px" alt=""></div>
            <div class="text mb-3">
                <h5>Designer</h5>
                <h6>Rafael Rodrigues</h6>
            </div>
            <a class="btn btn-outline-green" href="perfil-publico.php">Veja mais</a>
        </div>
    </div>
</div>