<div class="col">
    <div class="card shadow-sm rounded-3" id="profileCard">
        <img src="images\temp\placeholder-card.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <div class="profile-pic"><img src="images\temp\default-pic.png" class="rounded-circle mb-1" style="width: 72px; height:72px" alt=""></div>
            <div class="text mb-3">
                <h5 class="mb-1">Designer</h5>
                <span class="badge-avaliacao avaliacao-media">
                    <!-- STAR ICON -->
                    <ion-icon name="star"></ion-icon>
                    4.5
                </span>
                <h6 class="mb-1">Rafael Rodrigues</h6>
                <div class="d-flex align-items-center gap-1">
                    <p class="text-muted">10 avaliações</p>
                    <div class="vr"></div>
                    <p class="text-muted">30 serviços</p>
                </div>
            </div>

            <a href="perfil-publico.php" class="stretched-link"></a>
        </div>
    </div>
</div>