<div class="filtros-servico d-flex flex-wrap">
    <div class="item-pesquisa">
      <input id="eletricista" type="checkbox" name="filtro-servico" value="eletricista">
      <label for="eletricista">Eletricista</label>
    </div>
    <div class="item-pesquisa">
      <input id="encanador" type="checkbox" name="filtro-servico" value="encanador">
      <label for="encanador">Encanador</label>
    </div>
    <div class="item-pesquisa">
      <input id="diarista" type="checkbox" name="filtro-servico" value="diarista">
      <label for="diarista">Diarista</label>
    </div>
    <div class="item-pesquisa">
      <input id="carpinteiro" type="checkbox" name="filtro-servico" value="carpinteiro">
      <label for="carpinteiro">Carpinteiro</label>
    </div>
    <div class="item-pesquisa">
      <input id="pedreiro" type="checkbox" name="filtro-servico" value="pedreiro">
      <label for="pedreiro">Pedreiro</label>
    </div>
    <div class="item-pesquisa">
      <input id="jardineiro" type="checkbox" name="filtro-servico" value="jardineiro">
      <label for="jardineiro">Jardineiro</label>
    </div>
    <div class="item-pesquisa">
      <input id="pintor" type="checkbox" name="filtro-servico" value="pintor">
      <label for="pintor">Pintor</label>
    </div>
    <div class="item-pesquisa">
      <input id="designer" type="checkbox" name="filtro-servico" value="designer">
      <label for="designer">Designer</label>
    </div>
</div>

<style>
    .item-pesquisa {
        padding-right: 20px;
    }
</style>