<div class="filtros-servico d-flex flex-wrap mt-3">
    <div class="item-pesquisa">
      <button id="eletricista" class="btn btn-outline-dark btn-lg" name="filtro-servico">Eletricista</button>
    </div>
    <div class="item-pesquisa">
      <button id="encanador" class="btn btn-outline-dark btn-lg" name="filtro-servico">Encanador</button>
    </div>
    <div class="item-pesquisa">
      <button id="diarista" class="btn btn-outline-dark btn-lg" name="filtro-servico">Diarista</button>
    </div>
    <div class="item-pesquisa">
      <button id="carpinteiro" class="btn btn-outline-dark btn-lg" name="filtro-servico">Carpinteiro</button>
    </div>
    <div class="item-pesquisa">
      <button id="pedreiro" class="btn btn-outline-dark btn-lg" name="filtro-servico">Pedreiro</button>
    </div>
    <div class="item-pesquisa">
      <button id="jardineiro" class="btn btn-outline-dark btn-lg" name="filtro-servico">Jardineiro</button>
    </div>
    <div class="item-pesquisa">
      <button id="pintor" class="btn btn-outline-dark btn-lg" name="filtro-servico">Pintor</button>
    </div>
    <div class="item-pesquisa">
      <button id="designer" class="btn btn-outline-dark btn-lg" name="filtro-servico">Designer</button>
    </div>
</div>

<style>
    .item-pesquisa {
        padding-right: 20px;
        margin-bottom: 1rem;
    }
</style>