<footer class="text-white align-middle mt-3 hidden">
    <div class="container">
        <div class="row justify-content-between py-3 mb-2 g-3 g-lg-0 border-bottom" id="content-area">
            <div class="col-md-6 logo p-0">
                <img src="images/logo/white-logo.svg"? height="32px">
            </div>
            
            <div class="col-md-6 p-0 footer-socials">
                <ul class="socials d-flex flex-row justify-content-end align-items-center p-0 mb-0">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12" id="copyright">
            <p class="text-center m-0 pb-3">© 2022 Contrataí CORP. Todos os direitos reservados. <a href="https://storyset.com/work">Work illustrations by Storyset</a></p>
        </div>
    </div>
</footer>


