<footer class="text-white align-middle fixed-bottom">
    <div class="container">
        <div class="row" id="content-area">
            <div class="col-md-4 logo p-0">
                <img src="images/logo/white-logo.svg"? height="32px">
            </div>
            <div class="col-md-4 d-flex flex-row align-items-center links">
                <!--
                <a href="">Privacidade</a>
                <a href="">Termos e Serviços</a>
                -->
            </div>
            <div class="col-md-4 p-0">
                <ul class="socials d-flex flex-row-reverse align-content-center mb-0">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12" id="copyright">
            <p class="text-center m-0 pb-3">© 2022 Contrataí CORP. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>


