<footer class="bg-dark text-white text-center" style="min-height: 150px">
    <div class="row">
        <div class="col">
            <img src="images/logo/white-logo.svg"? height="48px">
        </div>
        <div class="col">
            <p>Privacidade</p>
            <p>Termos e Serviços</p>
        </div>
        <div class="col">
            <ul class="socials d-flex flex-row">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>© 2022 Contrataí CORP. Todos os direitos reservados.</p>
    </div>
</footer>


