<div class="container align-items-center mb-5">
    <div class="mb-4">
        <h2>Principais Categorias</h2>
        <h6 class="text-muted">Veja quais são as categorias mais procuradas</h6>
    </div>
    <!-- FUTURE SLIDER -->
    <div class="row g-5">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-categoria rounded-3 shadow-sm">
                <img src="images/temp/eletricista.png" class="card-img-top">
                <div class="badge-avaliacao avaliacao-otima px-2">
                    <!-- STAR ICON -->
                    <ion-icon name="star"></ion-icon>
                    4.8
                </div>
                <div class="card-body">
                    <h4>Eletricista</h4>
                    <p>100 cadastrados</p>
                    <a href="#" class="btn btn-outline-dark">Ver mais</a>
                    </div>
                </div>
            </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-categoria rounded-3 shadow-sm">
                <img src="images/temp/diarista.png" class="card-img-top">
                <div class="badge-avaliacao avaliacao-media px-2">
                    <!-- STAR ICON -->
                    <ion-icon name="star"></ion-icon>
                    3.9
                </div>
                <div class="card-body">
                    <h4>Diarista</h4>
                    <p>100 cadastrados</p>
                    <a href="#" class="btn btn-outline-dark">Ver mais</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card card-categoria rounded-3 shadow-sm">
                <img src="images/temp/pintor.png" class="card-img-top">
                <div class="badge-avaliacao avaliacao-otima px-2">
                    <!-- STAR ICON -->
                    <ion-icon name="star"></ion-icon>
                    4.5
                </div>
                <div class="card-body">
                <h4>Pintor</h4>
                <p>100 cadastrados</p>
                <a href="#" class="btn btn-outline-dark">Ver mais</a>
                </div>
            </div>
        </div>
    </div> <!-- /FUTURE SLIDER -->
</div>