<ul class="navbar-nav flex-column col-2" id="side-bar">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-user fa-fw pe-3"></i>Meu perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-regular fa-bell fa-fw pe-3"></i>Notificações</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-solid fa-shield-halved fa-fw pe-3"></i>Segurança</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-solid fa-gear fa-fw pe-3"></i>Preferências</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-solid fa-screwdriver-wrench fa-fw pe-3"></i>Admin</a>
    </li>
    <hr>
    <li class="nav-item text-danger">
        <a href="#modal-exclude" class="nav-link" data-bs-toggle="modal"><i class="fa-solid fa-trash fa-fw pe-3"></i>Excluir Conta</a>
    </li>
</ul>