<script src="../js/activeLinks.js"></script>
<ul class="navbar-nav col-2 p-3" id="sidebar">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="perfil.php"><i class="fa-solid fa-user fa-fw pe-3"></i>Meu perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="notificacoes.php"><i class="fa-regular fa-bell fa-fw pe-3"></i>Notificações</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="seguranca.php"><i class="fa-solid fa-shield-halved fa-fw pe-3"></i>Segurança</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="preferencias.php"><i class="fa-solid fa-gear fa-fw pe-3"></i>Preferências</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="admin.php"><i class="fa-solid fa-screwdriver-wrench fa-fw pe-3"></i>Admin</a>
    </li>
    <hr>
    <li class="nav-item">
        <a href="#modal-exclude" class="link-danger" data-bs-toggle="modal"><i class="fa-solid fa-trash fa-fw pe-3"></i>Excluir Conta</a>
    </li>
</ul>